/* =========================================
   ESTADO FECHADO (Lupa centralizada com fundo branco)
   ========================================= */
body.left selector,
body.left selector .elementor-search-form__container,
body.left selector form {
    background: transparent !important; border: none !important; box-shadow: none !important;
    margin-top: 19px !important; padding: 0 !important;
}

body.left selector input { 
    display: none !important; /* Some com o campo de texto! */
}

body.left selector button {
    display: flex !important; justify-content: center !important; align-items: center !important;
    width: 40px !important; height: 40px !important; margin: 0 auto !important;
    background: #ffffff !important; border-radius: 5px !important; border: none !important; padding: 0 !important;
}

body.left selector i, body.left selector svg {
    color: #0073ce !important; fill: #0073ce !important; font-size: 18px !important;
}